body{
    margin: 0;
    padding: 0;
    
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}
#logo{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;    
}
#logo>img{
   width: 50px;
}
#logo>h1{
    margin: 0px;
    font-size: 28px;
    font-weight: 700;
   font-family: Arial, Helvetica, sans-serif;
}

#list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    cursor: pointer;
    align-items: center;
}
#list a{
    text-decoration: none;
    font-size: 16px;
    color: #333;
    padding: 10px 10px;
    border-radius: 4px;
}
#list a:hover{
    color: #7c5eff; 
    background-color: grey;
  
}
#list button{
   padding: 8px 20px;
   font-size: 16px;
   font-weight: 600;
   background-color: #7c5eff;
   border: none;
   color: white;
   border-radius: 4px;
   border-width: none;

}
#list button:hover{
    background-color: #5a43c1;
}
#list{
    display: flex;
    align-items: center;
    gap: 30px;
}
#main{
    margin-top: 100px;
    width: 100%;    
}
#left{
    width: 50%;
    display: inline-block;
    margin-top: 70px;
    
}
#text>button{
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    background-color: #5a43c1;
    color: white;
}
#right{
    width: 48%;
    margin-top: 50px;
    display: inline-block;
    vertical-align: middle;
}
#text{
    margin: 50px 30px;

}
#right>img{
    width: 80%;
    background-color: white;
    border: none;
    border-radius: 4px;
    
}
#text>h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
#text>p{
    font-size: 20px;
}
#bb{
    width: 80px;
    display: inline-flex;
    margin-top: 0px;
    padding: 0;
    align-items: self-start;
}

#b1{
    width: 20;
    display: inline-block;
    padding: 8px 80px;
    margin: 0px 10px 0px 20px;
    align-items: center;
    background-color: #f6ebfe;
    height: 100%;
}
#b2{
    width: 20;
    display: inline-block;
    background-color: #f6ebfe;
    padding: 8px 80px;
    margin: 0px 10px;
    align-items: center;
 }
#b3{
    width: 20;
    display: inline-block;
    background-color: #f6ebfe;
    padding: 8px 80px;
    margin: 0px 10px;
    align-items: center;
}
#aboutmain{
    width: 95%;
    height: 700px;
    background-color: white ;
    margin: 200px auto 0px auto;
    display: flex;
    border: none;
    border-radius: 20px;
}
#aboutleft{
    width: 30%;
    display: inline-block;
    margin: 40px 0px 40px 80px;
}
#aboutright{
    width: 50%;
    display: inline-block;
    margin: auto;
}
#aboutleft>img{
    width: 100%;
    margin: 20px auto;
    background-color: #d2d2d2;
    border: none;
    border-radius: 20px;
}
#aboutright>h3{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#aboutright>p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: rgb(101, 101, 101);    
}
#aboutright>button{
    margin: 5px;
    padding: 8px 16px;
    color: black;
    background-color: white;
    font-size: 16px;
    border: 1px groove black;
    border-radius: 5px;
    cursor: pointer;
}
#aboutright>button:hover{
    background-color: #5a43c1;
}
#porttitle{
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
#porttitle>h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0;
}
#porttitle>p{
    color: grey;
    font-size: 20px;
}
#card{
    width: 420px;
    border-radius: 20px;
    margin: 10px;
    display: inline-block;
    border: 0.1px solid rgb(210, 210, 210);
}
#cardtxt{
    margin: 10px;
}
#cardtxt>h6{
    color: rgb(106, 106, 106);
    font-family: Arial, Helvetica, sans-serif;
}
#cardtxt>h3{
}
#cardtxt>p{
    color :rgb(106, 106, 106) ;
}
#cardimg{
    width: 100%;
}
#cardimg>img{
    width: 100%;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    border: 0.1px solid rgb(210, 210, 210);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
   font-weight: 500;
}
button:hover{
    cursor: pointer;
    color: #7c5eff;
    border: 1px solid #7c5eff;
}
#footer{
    width: 100%;
    background-color: #7c5eff;
    display: flex;
}
#flogo>img{
    width: 50px;
    margin: 60px 10px 60px 20px;

}
#fhead>h1{
    margin: 70px 0px 60px 0px;
    font-size: 28px;
    font-weight: 700;
   font-family: Arial, Helvetica, sans-serif;
   color: white;   
}
#flist{
    width: 40%;
    display: flex;
    margin: 60px auto;
    justify-content: center;
}
#flist>ul{
        list-style: none;
        display: flex;
        text-align:center;
        gap: 20px; 
}
#flist>ul,li,a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;   
        align-items:center;  
}
#copyright{
        width: 18%;
        margin: 60px auto;
        text-align: end;    
         font-family: Arial, Helvetica, sans-serif;
        color: white;       
}